/*
  singe use
    1.1 Main Game
    1.2 Beat bar


*/

// 1.1 Main Game

#game
{
  display: flex;
  flex-direction: column;
  background-color: lime;
  align-items: center;
  padding: 4rem;
}

#record
{
  image-rendering: crisp-edges;
  width: 40rem;
  height: 40rem;
  margin: 5rem;
}

#counter
{
  content: none;
}

//1.2 Beat bar

#bar
{
  display: flex;
  background: gray;
  width: 75rem;
  height: 5rem;
}

#center_beat
{
  background: yellow;
  width: 4vw;
  height: 8rem;
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

}

#beat
{
  background: red;
  width: 2rem;
  height: 6rem;
  align-self: center;
  position: relative;
  left: 100%;

}

//1.3 Name

//backrun på popup
#blur
{
  opacity: 0;
  z-index: -1;
  position: absolute;
  backdrop-filter: blur(3rem);
  width: 100%;
  height: 120%;
}

#name_box
{
  opacity: 0;
  z-index: -2;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 50%;
  background: lightgray;
  border-radius: 2rem;
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

#studio_name
{
  content: none;
}

#name_btn
{
  display: flex;
  margin: 2rem;
  background: red;
  border: solid gray 5px;
  border-radius: 1rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 6rem;
  height: 2rem;


  &:hover
  {
    background: gray;
  }
}

#name
{
  margin: 2rem;
}

#name_missing
{
  margin: 0;
  text-align: center;
  display: flex;
  opacity: 0;
  height: 0;
}

//note: use bacround filter when u are making the custom username pop up box