/*
  singe use
    1.1 Clicker Game
    1.2 Beat bar
    1.3 Record discs
    1.4 Upgrades & Items
    1.5 Name popup

*/

// 1.1 clicker Game

#game
{
display: flex;
}

#clicker
{
  display: flex;
  flex-direction: column;
  background-color: lime;
  align-items: center;
  padding: 4rem;
  width: 65rem;
  height: 48rem;
}

#record
{
  image-rendering: crisp-edges;
  width: 30rem;
  height: 30rem;
  margin: 5rem;
}

#numbers
{
  content: none;
  margin: 0;
}

#counter
{
  display: flex;
  flex-direction: row;
  align-items: center;

  img
  {
    width: 1rem;
    height: 1rem;
    margin: 1rem;
  }
}

//1.2 Beat bar

#bar
{
  display: flex;
  background: gray;
  width: 65rem;
  height: 2rem;
}

#center_beat
{
  background: yellow;
  width: 3rem;
  height: 6rem;
  align-self: center;
  position: absolute;
  left: 30%;
}

#beat
{
  background: red;
  width: 2rem;
  height: 6rem;
  align-self: center;
  position: relative;
  left: 100%;

}

//1.3 Record discs

#discs
{
  display: flex;
  text-align: center;
  background: purple;
  width: 45rem;
  height: 16rem;
  overflow-x: scroll;
}

.disc
{
  width: 8rem;
  height: 8rem;
  image-rendering: crisp-edges;
}

.buy_disc
{
  background: red;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1rem;
  padding: 1rem;


}

.disc_text
{
margin: 0.5rem;
}

.disc_price
{
margin: 0.5rem;
}

//1.4 Upgrades & Items

#upgrades
{
  display: flex;
  
}

//1.5 Name popup

//background på popup
#blur
{
  opacity: 0;
  z-index: -1;
  position: absolute;
  backdrop-filter: blur(3rem);
  inset: 0;
}

#name_box
{
  opacity: 0;
  z-index: -2;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 30%;
  background: lightgray;
  border-radius: 2rem;
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#studio_name
{
  content: none;
}

#name_btn
{
  display: flex;
  margin: 2rem;
  background: red;
  border: solid gray 5px;
  border-radius: 1rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 6rem;
  height: 2rem;


  &:hover
  {
    background: gray;
  }
}

#name
{
  margin: 2rem;
}

#name_missing
{
  margin: 0;
  text-align: center;
  display: flex;
  opacity: 0;
  height: 0;
}
